/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --default-font-family: "Arial", sans;
  --color-primary-400: #2eace3;
  --color-primary-500: #299ac1;
  --color-primary-600: #2480a0;
  --color-secondary-400: #1f77ba;
  --color-secondary-500: #1a6999;
  --color-secondary-600: #15547a;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    display: flex;
    font-weight: var(--font-weight-medium);
    padding-inline: calc(var(--spacing) * 5);
    margin-left: calc(var(--spacing) * -3);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-left: var(--tw-border-style) .25rem var(--color-primary-400);
  }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    border-left-color: var(--color-primary-500);
  }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    display: block;
    color: var(--color-primary-400);
    font-size: .75rem;
    text-transform: capitilize;
    padding-bottom: .75rem;
  }
  h1 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }
  h2 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  p {
    margin: .5rem 0;
  }

  ul {
    padding-left: 1.25rem;
    list-style-type: disc;
  }
}

._t {
  border: 1px solid var(--color-red-600);
}

body {
  color: var(--color-secondary-500);
}
